{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/estilonav.css' %}">
    {% block js %}
    
    {% endblock%}
    {% block css %}

    {% endblock%}
    <title>
        {% block titulo %}

        {% endblock %}
    </title>
</head>

<nav class="navbar navbar-expand-lg navbar-light">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
        <a class="nav-link" > inicio</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" >quienes somos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" >contactenos</a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
            <a  href="{% url 'tecnico' %}" class="nav-link">Agregar Tecnico</a>
        </li> 
        <li class="nav-item">
            <a  href="{% url 'cliente' %}" class="nav-link">Agregar Cliente</a>
        </li> 
        <li class="nav-item">
            <a  href="{% url 'asignado' %}" class="nav-link">Asignar Clientes a Tecnicos</a>
        </li> 
        {% endif %}
        {% if user.is_authenticated %}
        
        
        
        <li class="nav-item">
            <a  href="{% url 'orden_trabajo' %}" class="nav-link">Orden de Trabajo</a>
        </li> 
    
        <li class="nav-item">
            <a  href="{% url 'account_email' %}" class="nav-link">Cambiar su Correo</a>
        </li> 

        <li class="nav-item">
            <a  href="{% url 'account_logout' %}" class="nav-link">Cerrar Sesion</a>
        </li>
       
        {% else %}
        <li class="nav-item">
            <a  href="{% url 'account_login' %}" class="nav-link">iniciar sesion</a>
        </li>
        {% endif %}
     
    </ul>
    </div>
</nav>


{% block content %} {% endblock %}

</html>