{% extends 'base/base.html' %}

{% block content %}

    {% load static %}

    <script type="text/javascript">
        jQuery(document).ready(function($){
        'use strict';
              jQuery('body').backstretch([
                "{% static '/images/bg/bg1.jpg' %}",
                "{% static '/images/bg/bg2.jpg' %}",
                "{% static '/images/bg/bg3.jpg' %}"
            ], {duration: 5000, fade: 500, centeredY: true });
    
            
        });
        </script>
    <section id="main-slider" class="no-margin">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="carousel-content center centered">
                                        <span class="home-icon pe-7s-gleam bounce-in"></span>
                                        <h2 class="boxed animation animated-item-1 fade-down">Nostros somos los mejores en latino america</h2>
                                        <p class="boxed animation animated-item-2 fade-up">Tenemos mas de 10 años de experiencia</p>
                                        <br>
                                        <a class="btn btn-md animation bounce-in" href="#services">Leer Mas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.item-->
                </div><!--/.carousel-inner-->
            </div><!--/.carousel-->
        </section><!--/#main-slider-->
    
        <div id="content-wrapper">
                <section id="services" class="white">
                    <div class="container">
                    <div class="gap"></div> 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="center gap fade-down section-heading">
                                    <h2 class="main-title">Cosas que Hacemos</h2>
                                    <hr>
                                    <p>Con las normas de seguridad mas alta de todo latino america.</p>
                                </div>                
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <i class="fa fa-cogs fa fa-md"></i>
                                    </div>
                                    <div class="media-body fade-up">
                                        <h3 class="media-heading">Reparaciones</h3>
                                        <p>Reparaciones de asensores de todo tipo, tenemos nuestra gran experiencia.</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <i class="fa fa-thumbs-o-up fa fa-md"></i>
                                    </div>
                                    <div class="media-body fade-up">
                                        <h3 class="media-heading">Aseoramiento </h3>
                                        <p>Asesoramos a contructuras para la implementacion de asensores.</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <i class="fa fa-ticket fa fa-md"></i>
                                    </div>
                                    <div class="media-body fade-up">
                                        <h3 class="media-heading">Mantenciones</h3>
                                        <p>Realizamos mantenciones mensuales a nuestros cliente para que tengan seguridad.</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->
                        </div><!--/.row-->
                        
                    </div>
                    <div class="gap"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="center gap fade-down section-heading">
                                    <h2 class="main-title">Lo que mas Hacemos</h2>
                                    <hr>
                                    <p>La demanda de nuestra empresa se puede expresar en este grafico</p>
                                </div>               
                            </div>
                        </div>
                    </div>
                    <div class="container">     
                    <div class="row">            
                            <div class="col-md-3">
                                <div class="tile-progress tile-red bounce-in">
                                    <div class="tile-header">
                                        <h3>Asesorar</h3>
                                        <span>Asesoramos a nuestros clientes solo un.</span>
                                    </div>
                                    <div class="tile-progressbar">
                                        <span data-fill="65.5%" style="width: 65.5%;"></span>
                                    </div>
                                    <div class="tile-footer">
                                        <h4>
                                            <span class="pct-counter counter">65.5</span>%
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="tile-progress tile-cyan bounce-in">
                                    <div class="tile-header">
                                        <h3>Reparaciones</h3>
                                        <span>Hemos hecho reparaciones a nuestros clientes.</span>
                                    </div>
                                    <div class="tile-progressbar">
                                        <span data-fill="98.5%" style="width: 98.5%;"></span>
                                    </div>
                                    <div class="tile-footer">
                                        <h4>
                                            <span class="pct-counter counter">98.5</span>%
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="tile-progress tile-primary bounce-in">
                                    <div class="tile-header">
                                        <h3>Mantenciones</h3>
                                        <span>Mantenciones a nuestros clientes.</span>
                                    </div>
                                    <div class="tile-progressbar">
                                        <span data-fill="90%" style="width: 90%;"></span>
                                    </div>
                                    <div class="tile-footer">
                                        <h4>
                                            <span class="pct-counter counter">90</span>%
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="tile-progress tile-pink bounce-in">
                                    <div class="tile-header">
                                        <h3>Extras</h3>
                                        <span>Trabajos de ingenieria como electricidad.</span>
                                    </div>
                                    <div class="tile-progressbar">
                                        <span data-fill="10%" style="width: 10%;"></span>
                                    </div>
                                    <div class="tile-footer">
                                        <h4>
                                            <span class="pct-counter counter">10</span>%
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.row-->
                        <div class="gap"></div>
                    </div>
                </section>
    
    
      
    
    
    
    
    <footer id="footer" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2018 <a target="_blank" href="http://www.distinctivethemes.com" title="Premium Themes and Templates">Fabian Plaza, Bruno Cordova, Hugo Ordenes, Yerko Ortega</a>. DUOC UC Desarrollo de Software.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a id="gototop" class="gototop" href="#"><i class="fa fa-chevron-up"></i></a></li><!--#gototop-->
                </ul>
            </div>
        </div>
    </div>
    </footer><!--/#footer-->
    </div>
        
    
       
        
        
       
    
{% endblock %}